
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 96px 50px;
  width: 100%;
  box-sizing: border-box;
  color: #000000;
}


.header__nav {
  display: flex;
  justify-self: start;
  font-size: 18px;
  align-items: center;
  gap: 15px;
}

.header__nav a {
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 4px;
  justify-self: center;
}

.header__main-text {
  font-size: 18px;
  
}
 .header__menu {
     list-style: circle;
     padding-left: 15px;
     display: flex;
     gap: 33px; 
   }
   .header__menu li {
     font-size: 18px;
     
   }

  

.header__logo {
  justify-self: center;
  align-items: center;
  margin: auto;
  

}

.header__logo img {
  width: 105px;
  height: 148px;
  display: block;
}

.header__address {
  margin-right: 0;
  padding: 0;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 240px;
  gap: 2px;
  justify-self: end;
  font-size: 18px;
  text-underline-offset: 4px;
}

.header__address a {
  color: #000000;
  text-decoration: underline;
  font-size: 18px;
  line-height: 1.15;
}

.header__address span {
  color: #000000;
  font-size: 18px;
  line-height: 1.15;
  
}

.cover {
  position: relative;
  min-height: 90vh;
  background-image: url('cover.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  
}

.cover__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
  z-index: 1;
  pointer-events: none;
}

.cover__content {
  width: 1100px;
  height: 757px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
  
}

.cover__title {
  display: flex;
  flex-direction: column;
  align-items: stretch;  
  gap: 36px;
  margin-bottom: 40px;
  width: 100%;
  padding: 0 50px; 
}

.cover__word {
  color: #fff;
  font-size: 110px;
  font-weight: 700;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  
}

.cover__word_top {
  align-self: flex-start;
  text-align: left;
}

.cover__word_middle {
  align-self: center;
  text-align: center;
}

.cover__word_bottom {
  align-self: flex-end;
  text-align: right;
}


.cover__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 40px;
  padding: 0 36px;
  box-sizing: border-box;
  z-index: 2;
  color: #fff;
  font-size: 22px;
  
}

.cover__subtitle {
  color: #fff;
  font-size: 22px;
  letter-spacing: -0.01em;
  margin: 0;
  word-spacing: 22px;
}

.cover__button {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 12px 31px;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.lots__title {
font-size: 40px;
margin: 180px 915px 27px 40px;
}

.lots {
  max-width: 1100px;
}


.lots__cards {
  display: flex;
  gap: 25px; 
  padding-left: 24px;
  padding-right: 24px;
  
}

.lots__card {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  background: #222;
  color: #fff;
  padding: 24px;
  min-height: 596px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  font-size: 22px;
  padding: 48px 40px 48px 40px;
}

.lots__card:nth-child(1) {
  background-image: url('card-lot-01.jpg');
}
.lots__card:nth-child(2) {
  background-image: url('card-lot-02.jpg');
}
.lots__card:nth-child(3) {
  background-image: url('card-lot-03.jpg');
}

.lots__card-text-wrapper {
  margin-top: auto;        
  position: relative;
  z-index: 1;

}
.lots__card-title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-decoration: underline;

}
.lots__card-text {
  font-size: 20px;
}

.lots__card-overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.60);
  z-index: 0;
}

.lots__card-title,
.lots__card-text {
  position: relative;
  z-index: 1;
}

.lots__card-text-wrapper {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.lots-section {
  display: flex;
  flex-direction: column;
}

.show-more-link {
  margin-top: 30px;
  margin-left: 64px;
  color: #000000;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
}


.about-auction {
  display: flex;
  align-items: flex-start;
  gap: 72px; 
  max-width: 1052px;
}

.about-auction__logo {
  flex-shrink: 0;
  margin-left: 71px;
  margin-top: 155px;
  width: 240px; 
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-auction__logo img {
  width: 100%;
  height: auto;
  display: block;
}

.about-auction__content {
  margin-top: 256px;
}

.about-auction-h h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px 0px 100px 0;
  letter-spacing: -0.00em;
}
.about-auction__content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
  margin: 0;
  max-width: 693px;
  max-height: 312px;
}

.footer {    
  padding: 0px 0px;    
  background-color: #ffffff; 
  color: #000000;
  display: flex;
  margin-top: 180px; 
  margin-bottom: 82px;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__address {
  margin-right: 0;
  padding: 0;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  justify-self: center;
  font-size: 18px;
  text-underline-offset: 4px;
}

.footer__address address {
  font-weight: normal;
  font-family: inherit;
  font-size: 22px;
}

.footer__nav a {
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.footer__menu-text {
  font-size: 18px;
}

.footer__menu ul {
  list-style: none;  
  padding: 0;
  margin: 0;
}

.footer__menu {
  text-align: center;
}


.footer__social {
  margin-right: 50px;  
}

.footer__social ul {
    display: flex;
    gap: 48px; 
    justify-content: center; 
    align-items: center;
    list-style: none; 
    padding: 0;
    margin: 0;
    
}

.footer__social img {
    width: 40px;   
    height: 40px;
    display: block;
}
