.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 96px 50px;
  width: 100%;
  box-sizing: border-box;
  color: #000000;
}

.header__nav {
  display: flex;
  justify-self: start;
  font-size: 18px;
  align-items: center;
  gap: 15px;
}

.header__menu li:first-child {
  list-style: none;
}

.header__main-text {
  font-size: 18px;
}
.header__menu {
  list-style: circle;
  padding-left: 15px;
  display: flex;
  gap: 33px;
}
.header__menu li {
  font-size: 18px;
}

.header__link {
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: inherit;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
  align-items: center;
  margin: auto;
}

.header__logo img {
  width: 105px;
  height: 148px;
  display: block;
}

.address {
  margin-right: 0;
  padding: 0;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  font-size: 18px;
  text-underline-offset: 4px;
}

.header__address {
  max-width: 240px;
  justify-self: end;
}

.address a {
  color: #000;
  text-decoration: underline;
  font-size: 18px;
  line-height: 1.15;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
  pointer-events: none;
}

.cover {
  position: relative;
  background-image: url("/images/cover.jpg");
  background-size: cover;
  background-position: center;
  min-height: 757px;
}

.cover__overlay {
  z-index: 1;
}

.cover__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  min-height: 757px;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 100%;
  margin-top: 165px;
  margin-bottom: 40px;
  padding: 0 50px;
  box-sizing: border-box;
}

.aligned-text {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.aligned-text_left {
  align-self: flex-start;
  text-align: left;
}
.aligned-text_center {
  align-self: center;
  text-align: center;
}
.aligned-text_right {
  align-self: flex-end;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}
.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 50px 61px 50px;
  box-sizing: border-box;
  z-index: 2;
  color: #fff;
  font-size: 22px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  letter-spacing: -0.01em;
  margin: 0;
  word-spacing: 22px;
}

.bet-button {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 12px 31px;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.lots__card-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  flex: 1 1 320px;
  min-width: 320px;
  min-height: 596px;
  display: flex;
}

.card-link {
  display: flex;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 596px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  box-sizing: border-box;
}

.card_type_film {
  background-image: url("/images/card-lot-01.jpg");
}
.card_type_book {
  background-image: url("/images/card-lot-02.jpg");
}
.card_type_picture {
  background-image: url("/images/card-lot-03.jpg");
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}

.card__title,
.card__text {
  color: #fff;
  position: relative;
  z-index: 2;
}

.card__title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
  line-height: 1.2;
  padding-bottom: 8px;
}
.card__text {
  font-size: 20px;
  margin: 0;
}

.lots__look-more-link {
  display: block;
  margin: 40px 0 0 40px;
  color: #000000;
  text-decoration: underline;
  font-size: 18px;
}

.lots__heading {
  font-size: 40px;
  margin: 180px 0 27px 40px;
  font-weight: bold;
}

.about {
  display: grid;

  grid-template-columns: 329px 1fr;
  gap: 72px;
  padding: 24px;
}

.about__column:first-child {
  display: flex;
  justify-content: center;
  margin-top: 155px;
}

.about__title {
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 256px;
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  padding: 0px 0px;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  margin-top: 180px;
  margin-bottom: 82px;
  justify-content: space-between;
  align-items: flex-start;
}

.address {
  margin-right: 0;
  padding: 0;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  font-size: 18px;
  text-underline-offset: 4px;
}

.footer__address {
  justify-self: center;
}

.address a {
  color: #000;
  text-decoration: underline;
  font-size: 18px;
  line-height: 1.15;
}

.address span {
  color: #000;
  font-size: 18px;
  line-height: 1.15;
}

.footer__menu {
  text-align: center;
}

.footer__menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__menu-link {
  font-size: 18px;
  text-decoration: underline;
  color: #000;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__social-icon {
  width: 40px;
  height: 40px;
  display: block;
}
